<div class="center-align">
  <div>
    <h1>Welcome to the New RxJS Docs</h1>
  </div>
  <div>
      RxJS is a library for reactive programming using Observables, to make it easier to compose asynchronous or callback-based code. 
  </div>
  <div>
    <h2>Still a Work in Progress!</h2>
  </div>
  <div>
    <md-progress-bar mode="indeterminate" color="accent">
    </md-progress-bar>
  </div>
  <div class="margin-top-20">
    <button 
      md-raised-button 
      color="primary" 
      routerLink="/team">
        Check out the team!
    </button>
  </div>
</div>