<div>
  <h1>Welcome to the RxJS Docs Test App!</h1>
</div>
<div>
  <p>
    RxJS is a library for reactive programming using Observables, to make it easier to compose asynchronous or callback-based code. 
  </p>
  <img src="/assets/img/rxjs.png" alt="rxjs image">
</div>
<div>
  <h2>This is Still a Work in Progress! Stay Tuned!</h2>
</div>
<div>
  <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
</div>
<div class="margin-top-20" routerLink="/team">
  <button md-raised-button color="primary">View the Team Behind RxJS</button>
</div>