<div>
  <h1>Welcome to the New RxJS Docs Test App!</h1>
</div>
<div>
  <img src="./assets/img/rxjs.png" alt="rxjs logo">
  <p>
    RxJS is a library for reactive programming using Observables, to make it easier to compose asynchronous or callback-based code. 
  </p>
</div>
<div>
  <h2>We are still a work in progress!</h2>
</div>
<div>
  <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
</div>
<div class="margin-top-20">
  <button md-raised-button color="primary" routerLink="/team">
    Check out the team!
  </button>
</div>